<div class="UppyDragDrop"></div>
<div class="for-ProgressBar"></div>

<div class="uploaded-files">
  <h5>Uploaded files:</h5>
  <ol></ol>
</div>

<script src="https://releases.transloadit.com/uppy/v3.0.1/uppy.min.js" type="module"></script>
<script src="https://releases.transloadit.com/uppy/v3.0.1/uppy.legacy.min.js" nomodule></script>
<script src="https://releases.transloadit.com/uppy/locales/v3.0.0/ru_RU.min.js"></script>
<script>

window.addEventListener('DOMContentLoaded', function () {
  'use strict';
  var uppy = new Uppy.Uppy({
    debug: true,
    autoProceed: true
  });
  uppy.use(Uppy.DragDrop, {
    target: '.UppyDragDrop'
  });
  uppy.use(Uppy.ProgressBar, {
    target: '.for-ProgressBar',
     hideAfterFinish: false
  });
  uppy.use(Uppy.Tus, { endpoint: 'https://tusd.tusdemo.net/files/' });
  uppy.on('upload-success', function (file, response) {
    var url = response.uploadURL
    var fileName = file.name

    document.querySelector('.uploaded-files ol').innerHTML +=
      '<li><a href="' + url + '" target="_blank">' + fileName + '</a></li>'
  });

  console.log('--> Uppy pre-built version with Tus, DragDrop & Russian language pack has loaded');
  window.uppy = uppy;
});
</script>